.button {
    border: none;
    outline: none;
    padding: 0.9rem 1.5rem;
    border-radius: 0.75rem;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;

    &.primary-button {
        background: #f32f6d;
        color: white;

        &:hover {
            background: #730678;
            transform: translateY(-2px);
        }
    }

    &:active {
        transform: scale(0.98);
    }
}